@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
}
body{
    font-family: "Space Grotesk", sans-serif;
}

html{
    scroll-behavior: smooth;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F2E4DA;
    padding-left: 120px;
}

section:nth-of-type(even){
  background: #C9D5D4;
}

#home{
  padding-right: 90px;
}

h1 {
    font-weight: 400;
    font-size: 5rem;
    color: #410807; 
    line-height: 1.2;
}

.heading > h1{
  font-size: 57.6px;
}

.content{
  justify-content: start;
}

.content > h1{
  max-width: 500px;
  font-size: 57.6px;
}

section > p {
  color: #410807;
  box-sizing: content-box;
  width: 520px;
  padding-left: 180px;
  padding-top: 30px;
  font-size: 17px;
}

#work{
  width: 550px;
}

#mini{
  font-size: 15px;
}

#work p, #also p {
  color: #410807;
}

#game, #also a{
  font-weight: bold;         
  color: inherit;            
  text-decoration: none; 
  cursor: pointer;  
}

.list{
  width: 50%;
  box-sizing: border-box;
  padding-left: 180px;
}

.list  a{
  list-style: none;
  color: #410807;
  text-align: center;
}

.revealer {
  text-decoration:none;
}

.revealer span {
  display:none;
}

.revealer:hover span {
  display:block;
  position:fixed;
  overflow:hidden;
}

#eisen{
  width:250px;
}

#savesite{
  width:640px;
}

#core-competences{
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

#stray{
  align-self: flex-start;
  padding-left: 120px;
  position: relative;
  top: -70px;
}

.above , .bellow{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.above h1, .bellow h1, .list a, #mail {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.3px;
  font-size: 96px;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
  color: #410807;
}

.above ul, .bellow ul{
  padding: 0;
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  gap: 1rem;
  align-items:center;
  pointer-events: none;
}

@keyframes scroll-left{
  to{
    transform: translateX(calc(-100% - 1rem));
  }
} 

@keyframes scroll-right{
  from{
    transform: translateX(calc(-100% - 1rem));
  }
  to{
    transform: translateX(calc(0%));
  }
} 

.above ul{
  animation: scroll-left 30s linear infinite;
}
.bellow ul{
  animation: scroll-right 30s linear infinite;
}

.above:hover ul,.bellow:hover ul{
  animation-play-state: paused;
}

#contact{
  flex-direction: column;
}

#stray-2{
  width: 67%;
  align-self: flex-start;
  transform: translateY(-156px);
}

#mail{
  display: flex;
  font-size: 70px ;
  text-decoration: none;
  line-height: 50px;
  transform: translate(-60px, -80px);
}

#mail:hover{
  -webkit-text-fill-color: #410807;
}

#also{
  transform: translate(250px, 70px);
}

.scroll-indicator {
    position: fixed;
    right: 20px;
    top: 35%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.scroll-indicator a{
    padding: 10px;
    position: relative;
}

.scroll-indicator a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #410807;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll-indicator a.active::after{
    transform: translate(-90%,-50%) scale(1.3);
}

.scroll-indicator a::before{
    content: attr(data-section);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(4px,-55%);
    color:#410807;
    font-weight: bold;
    padding: 2px 16px;
    font-size: 17px;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease;
}

.scroll-indicator a:hover::before{
    opacity: 1;
    transform: translate(0, -50%);
}

#game-container {
  background: #F2E4DA;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  height: 100vh; 
}

#interface {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 8px; 
  padding-right: 0.5px;
}
#guessList{
  text-align: left;
}

.interactive {
  font-family: "Space Grotesk", sans-serif;
  width: 270px;      
  height: 40px;     
  font-size: 16px;   
  padding: 8px;      
  box-sizing: border-box; 
}

